html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "HelveticaNeueCyr", "Comfortaa", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;
    color: var(--gray);
    background-color: rgb($white);
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100vh;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 1024px) {
        max-width: 920px;
    }
    @media (max-width: 768px) {
        max-width: 720px;
        padding: 0 10px;
    }
    @media (max-width: 480px) {
        max-width: 290px;
        padding: 0 10px;
    }
}


button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
form,
fieldset,
figure {
    margin: 0;
}

.title {
    font-family: "Comfortaa";
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    @media (max-width: 1024px) {
        font-size: 44px;
        line-height: 54px;
    }
    @media (max-width: 768px) {
        font-size: 30px;
        line-height: 34px;
    }
    @media (max-width: 480px) {
            font-size: 20px;
            line-height: 24px;
    }
}

.title-orange {
    color: rgb($orange);
}

.section:not(:first-child) {
    padding-top: 45px;
}

.section:not(:last-child) {
    padding-bottom: 45px;
}

.section:last-child {
    padding-bottom: 102px;
}

.btn {
    display: block;
    width: 180px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    font-weight: 550;
    color: rgb($orange);

    &__text {
        display: block;
    }

    &__img {
        width: 100.98px;
        height: 86.83px;
        transition: 0.3s ease-in-out;
        &_form {
            width: 66.41px;
            height: 57.6px;
            transition: 0.3s ease-in-out;
        }
        &:hover {
            -webkit-filter: drop-shadow(4px 6px 0px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(4px 6px 0px rgba(0, 0, 0, 0.25));
        }
    }
}

.link {
    display: flex;
    gap: 19px;
    line-height: 26px;
    font-weight: 550;
    color: rgb($orange);
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
}

body.lock {
    overflow: hidden;
}
