@font-face {
    font-family: "HelveticaNeueCyr";
    src: local("HelveticaNeueCyr-Light"), local("Helvetica Neue Cyr Light"),
        url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"),
        url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "HelveticaNeueCyr";
    src: local("HelveticaNeueCyr-Medium"), local("Helvetica Neue Cyr Medium"),
        url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"),
        url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa Bold"), local("Comfortaa-Bold"),
        url("../fonts/Comfortaa-Bold.woff2") format("woff2"),
        url("../fonts/Comfortaa-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
