.form-block {
    padding: 20px;
    position: fixed;
    inset: 0;
    cursor: pointer;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.67);
    z-index: 100;
    display: none;

    &__container {
        position: relative;
        max-width: 780px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px 100px;
        background-color: $background;
        cursor: default;
        font-size: 20px;
        color: #000;
        text-align: center;
        border-radius: 20px;
    }

    &__title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    &__subtitle {
        white-space: nowrap;
        &_orange {
            color: $orange;
            margin-bottom: 20px;
            font-weight: 500;
        }
        &_fieldset {
            margin-bottom: 15px;
            color: $gray;
        }
    }

    &__close {
        width: 22px;
        height: 22px;
        position: absolute;
        top: 20px;
        right: 25px;
        color: #282626;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover,
        &:focus {
            color: #5b5656;
        }
    }
}

.contacts {
    display: flex;
    gap: 45px;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 60px;

    &__icon {
        vertical-align: middle;
        color: $orange;
        margin-right: 14px;
    }

    &__list:not(:last-child) {
        margin-bottom: 10px;
    }
}

.form {
    &__fieldset {
        display: flex;
        gap: 20px;
        border: 0;
        max-width: 280px;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 34px;
        color: $gray;
    }

    &__input {
        display: block;
        width: 280px;
        height: 40px;
        background-color: $white;
        border: 0;
    }

    &__label {
        display: block;
    }

    &__label-text {
        font-size: 12px;
        line-height: 14px;
        text-align: start;
    }

    &__label:not(:last-child) {
        margin-bottom: 20px;
    }

    &__button {
        width: 220px;
        height: 40px;
        background-color: $gray;
        color: $orange;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
    }    
}

.form-block-btn {
    display: block;
    min-width: 80px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    margin-left: auto;
    color: $orange;
}
