.header {
    padding-top: 21px;
    padding-bottom: 27.16px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu-btn {
        width: 40px;
        height: 21px;
        color: $gray;
        cursor: pointer;
        &:hover,
        &:focus {
            color: #5b5656;
        }
    }

    &__logo {
        height: 71.83px;
    }

    &__contact {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__contact-link {
        font-size: 20px;
        font-weight: 550;
    }
}
