.info {
    position: relative;

    &__banner {
        width: 100%;
        padding-top: 10px;
        @media (max-width: 1024px) {
            padding-top: 3px;
        }
        @media (max-width: 768px) {
            padding-top: 0;
        }
    }

    &__description {
        position: absolute;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        left: 10px;
        bottom: 40px;
        @media (max-width: 1024px) {
            max-width: 260px;
            gap: 13px;
            bottom: 3.64px;
        } 
        @media (max-width: 768px) {
            max-width: 200px;
            gap: 0;
            bottom: 25.16px;
        }  
        @media (max-width: 480px) {
            max-width: 250px;
            gap: 2.72px;
            bottom: 19.43px;
        }    
    }

    &__title {
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
        color: var(--white);
        align-items: flex-start;
        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 30px;
        }
        @media (max-width: 768px) {
            font-size: 18px;
            line-height: 24px;
        }
        @media (max-width: 480px) {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__link {
        align-self: flex-end;
        margin-top: -30px;
    }
    @media (max-width: 768px) {
        margin-top: -10px;
    }
}
