.list {
    &__item {
        margin-bottom: 50px;
        &_one {
            display: flex;
            gap: 120px;
        }

        &_two {
            display: flex;
            gap: 20px;
            align-items: center;
        }

        &_three {
            display: flex;
            gap: 20px;
            align-items: center;
        }
    }

    &__description_one {
        max-width: 483px;
    }

    &__description-title {
        display: inline-block;
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 20px;
        &:before {
            font-family: "Comfortaa";
            content: counter(my-counter);
            counter-increment: my-counter;
            color: rgb($orange);;
            font-size: 45px;
            font-weight: 300;
            font-style: normal;
            margin-right: 52px;
        }
    }

    &__description-text {
        padding-left: 78px;
        &_two {
            padding-left: 0;
        }

        &_three {
            font-weight: 500;
            max-width: 500px;
        }
    }

    &__description-text:not(:last-child) {
        margin-bottom: 30px;
    }

    &__description-block {
        max-width: 580px;
        order: 1;
    }
}